.additions {
  margin-bottom: 22px;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 21px;
  }

  @media (min-width: $page-width-desktop) {
    margin-bottom: 28px;
  }
}

.additions__fields {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $page-width-tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }

  @media (min-width: $page-width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 82px;
  }
}

.additions__field {
  margin-bottom: 14px;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 34px;
  }
}
