.additional-goods {
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;

  @media (min-width: $page-width-tablet) {
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
  }

  @media (min-width: $page-width-desktop) {
    display: grid;
    grid-template-areas:
      "title title"
      "table offer";
    grid-template-columns: 895px 245px;
    grid-column-gap: 80px;

    padding-top: 80px;
    padding-bottom: 85px;
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  }
}

.additional-goods__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $page-width-tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $page-width-desktop) {
    grid-area: title;
  }
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $page-width-desktop) {
    grid-area: table;
  }
}

.additional-goods__offer {
  min-height: 290px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 60px 50px 40px;
  background-image: url("../img/catalog-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/catalog-back-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media (min-width: $page-width-tablet) {
    min-height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;
    padding: 57px 77px;
    background-image: url("../img/catalog-back-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $page-width-desktop) {
    grid-area: offer;
    margin: 0;
    padding: 55px 40px 40px;
    background-image: url("../img/catalog-back-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog-back-desktop@2x.jpg");
    }
  }
}

.additional-goods__text {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;

  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon_gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $page-width-tablet) {
    grid-template-columns: 350px 1fr;
    justify-items: start;
    text-align: left;
  }

  @media (min-width: $page-width-desktop) {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
