.additional-goods__offer {
  min-height: 290px;
  margin: 35px 20px;
  background-image: url("../../img/catalog-green-cat.png");
  background-repeat: no-repeat;
}

.additional-goods__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
