.button {
  padding: 10px 25px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $basic-green;
  border: none;
}

.button:active {
  color: rgba($white, 0.3);
  background-color: $basic-green-2;
}

.button:hover {
  background-color: $basic-green-2;
}

.button--special {
  color: $special-dark-grey;
  background-color: $basic-grey;
}

.button--special:active {
  color: rgba($special-dark-grey, 0.3);
  background-color: $special-grey-2;
}

.button--special:hover {
  background-color: $special-grey-2;
}
