.cat-data {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $page-width-tablet) {
    border: none;
  }

  @media (min-width: $page-width-desktop) {
    width: 49%;
  }
}

.cat-data__fields {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
