.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $page-width-tablet) {
    justify-content: end;
    padding: 0;
    border-top: none;
  }

  &:hover {
    .copyright__logo {
      fill: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $page-width-tablet) {
    margin-right: 20px;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  fill: $special-grey-2-1;
}
