.diet-plans {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 20px;
  padding: 20px;

  @media (min-width: $page-width-desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
  }
}
