.example {
  background-color: $slider-bg;

  @media (min-width: $page-width-tablet) {
    background: linear-gradient(0deg, $slider-bg 0%, $slider-bg 43%, $white 43%, $white 100%);
  }

  @media (min-width: $page-width-desktop) {
    background: linear-gradient(0deg, $slider-bg 0%, $slider-bg 69%, $white 69%, $white 100%);
  }
}

.example__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 25px 20px;

  @media (min-width: $page-width-tablet) {
    grid-template-rows: 122px 105px 80px 1fr;
    min-height: 1080px;
    padding-bottom: 40px;
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
  }

  @media (min-width: $page-width-desktop) {
    grid-template-columns: 445px 591px;
    grid-template-rows: 187px minmax(104px, min-content) min-content;
    column-gap: 185px;
    row-gap: 60px;
    min-height: 638px;
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 20px;
  color: $black;

  @media (min-width: $page-width-tablet) {
    margin-top: 18px;
  }

  @media (min-width: $page-width-desktop) {
    grid-column: 1 / 2;
    margin-top: 40px;
  }
}

.example__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $page-width-tablet) {
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $page-width-desktop) {
    grid-column: 1 / 2;
  }
}

.example__progress {
  @media (min-width: $page-width-desktop) {
    grid-column: 1 / 2;
  }
}

.example__slider {
  @media (min-width: $page-width-tablet) {
    align-self: end;
  }

  @media (min-width: $page-width-desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
