.field {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 18px;
  }
}

.field__label {
  flex-shrink: 0;
  margin-right: 14px;

  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media (min-width: $page-width-tablet) {
    margin-right: 21px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $page-width-desktop) {
    margin-right: 24px;
  }

  &--radio {
    display: flex;
    align-items: center;
    margin-right: 0;
    color: $special-dark-grey-2;
  }

  &--radio::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: $basic-green;
    border-radius: 50%;
    box-shadow: inset 0 0 0 15px $white, 0 0 0 1px $special-grey;
    cursor: pointer;

    @media (min-width: $page-width-tablet) {
      width: 38px;
      height: 38px;
      margin-right: 21px;
      box-shadow: inset 0 0 0 20px $white, 0 0 0 1px $special-grey;
    }
  }

  &--radio:hover::before {
    box-shadow: inset 0 0 0 15px $white, 0 0 0 1px #bababa;
  }

  &--radio:disabled {
    opacity: 0.3;
  }

  &--checkbox {
    display: flex;
    align-items: center;
    color: $black;
  }

  &--checkbox::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 18px;
    background-color: $white;
    box-shadow: 0 0 0 1px $special-grey;
    cursor: pointer;

    @media (min-width: $page-width-tablet) {
      width: 38px;
      height: 38px;
      margin-right: 21px;
    }
  }

  &--checkbox:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  &--checkbox:focus::before {
    box-shadow: 0 0 0 2px $special-dark-grey;
  }

  &--checkbox:disabled {
    opacity: 0.3;
  }
}

.field__radio {
  &:checked + .field__label::before {
    box-shadow: inset 0 0 0 10px $white, 0 0 0 1px $special-grey;
  }

  &:checked:hover + .field__label::before {
    box-shadow: inset 0 0 0 10px $white, 0 0 0 1px #bababa;
  }

  &:checked:focus + .field__label::before {
    box-shadow: inset 0 0 0 10px $white, 0 0 0 2px $special-dark-grey;
  }

  &:disabled + .field__label,
  &:disabled + .field__label::before {
    opacity: 0.3;
  }
}

.field__checkbox {
  &:checked + .field__label::before {
    background-image: url("../img/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
  }

  &:checked:hover + .field__label::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  &:focus + .field__label::before {
    box-shadow: 0 0 0 2px $special-dark-grey;
  }

  &:disabled + .field__label,
  &:disabled + .field__label::before {
    opacity: 0.3;
  }
}

.field__text-input {
  flex-grow: 1;

  min-height: 46px;
  padding: 10px 15px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  outline: 0;
  border: 1px solid #e7e7e7;

  @media (min-width: $page-width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--icon {
    padding-right: 40px;
  }

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    border: 2px solid $special-dark-grey;
  }

  &:invalid {
    border: 2px solid $status-error;
  }
}
