.fields-group {
  margin: 0 0 20px;
  padding: 0 $page-padding-mobile;
  border: none;

  @media (min-width: $page-width-tablet) {
    width: 100%;
    padding: 0 $form-padding-tablet;
  }

  @media (min-width: $page-width-desktop) {
    padding: 0;
  }
}

.fields-group__list {
  display: flex;
  flex-direction: column;
}

.fields-group__legend {
  max-width: 80%;
  margin-bottom: 35px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.fields-group__text-input--big {
  width: 100%;
  min-height: 150px;
}
