.form__suggestion {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

.form__helper {
  margin-bottom: 20px;
}

.form__notes {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}
