.form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $page-width-desktop) {
    justify-content: space-between;
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  }
}

.form__suggestion {
  width: 100%;
  margin-top: -4px;
  margin-bottom: 0;
  padding: 0 $page-padding-mobile 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $page-width-tablet) {
    margin-top: 12px;
    margin-bottom: 65px;
    padding: 0 $form-padding-tablet;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $page-width-desktop) {
    margin-top: 11px;
    padding: 0;
  }
}

.form__helper {
  width: 100%;
  margin-bottom: 18px;
  text-align: center;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;

  @media (min-width: $page-width-tablet) {
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 60px;
    margin-bottom: 72px;
    padding-left: $form-padding-tablet;
    padding-right: $form-padding-tablet;
  }

  @media (min-width: $page-width-desktop) {
    grid-template-columns: 568px 1fr;
    column-gap: 80px;
    margin-bottom: 83px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__submit {
  width: 100%;

  @media (min-width: $page-width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.form__notes {
  margin-top: 22px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;

  @media (min-width: $page-width-tablet) {
    justify-self: start;
    margin-top: 15px;
    margin-bottom: 21px;
    margin-left: 4px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $page-width-desktop) {
    justify-self: start;
    margin-top: 18px;
    margin-bottom: 17px;
  }
}
