.owner-contacts {
  margin-bottom: 5px;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 41px;
  }

  @media (min-width: $page-width-desktop) {
    margin-top: 64px;
    margin-bottom: 44px;
  }
}

.owner-contacts__legend {
  @media (min-width: $page-width-tablet) {
    margin-bottom: 70px;
  }
}

.owner-contacts__fields {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $page-width-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.owner-contacts__field {
  position: relative;

  @media (min-width: $page-width-desktop) {
    width: 47%;
  }
}

.owner-contacts__icon {
  position: absolute;
  right: 14px;
  z-index: 5;

  &--email {
    stroke: $special-dark-grey-2;

    @media (min-width: $page-width-desktop) {
      right: 22px;
    }
  }

  &--phone {
    fill: $black;

    @media (min-width: $page-width-desktop) {
      right: 16px;
    }
  }
}

.owner-contacts__input {
  margin-left: -4px;

  @media (min-width: $page-width-tablet) {
    margin-left: 0;
  }
}

.owner-contacts__input:focus {
  background-color: transparent;

  & + .owner-contacts__icon--email {
    stroke: $basic-green;
  }

  & + .owner-contacts__icon--phone {
    fill: $basic-green;
  }
}

.owner-contacts__input:invalid {
  & + .owner-contacts__icon--email {
    stroke: $status-error;
  }

  & + .owner-contacts__icon--phone {
    fill: $status-error;
  }
}
