.page-title {
  padding-top: 30px;
  padding-bottom: 42px;
  border-top: 1px solid #d9d9d9;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;

  @media (min-width: $page-width-tablet) {
    padding-top: 32px;
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
    border-top: none;
  }

  @media (min-width: $page-width-desktop) {
    padding-top: 188px;
    padding-bottom: 44px;
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  }

  &--index {
    padding: 0;
    background-color: $basic-green-2;
    background-image: url("../img/index-back-mobile.jpg"),
      linear-gradient(180deg, $basic-green-2 0%, $basic-green-2 63%, $white 63%, $white 100%);
    background-position: right top, center;
    background-repeat: no-repeat, no-repeat;
    border-top: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-back-mobile@2x.jpg"),
        linear-gradient(180deg, $basic-green-2 0%, $basic-green-2 63%, $white 63%, $white 100%);
      background-size: $page-width-mobile auto, 100% auto;
    }

    @media (min-width: $page-width-tablet) {
      padding: 0;
      background-color: transparent;
      background-image: none;
    }

    @media (min-width: $page-width-desktop) {
      padding: 0;
      background-color: $basic-green-2;
      background-image: url("../img/index-back-desktop.jpg"),
        linear-gradient(270deg, $basic-green-2 0%, $basic-green-2 50%, $white 50%, $white 100%);

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-back-desktop@2x.jpg"),
          linear-gradient(270deg, $basic-green-2 0%, $basic-green-2 50%, $white 50%, $white 100%);
        background-size: 720px auto, 100% auto;
      }
    }
  }
}


.page-title__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(79px, auto) minmax(38px, auto) minmax(342px, auto);
  align-items: end;
  padding: 20px 20px 0;

  background-image: url("../img/index-can-mobile.png");
  background-position: bottom 43px center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: calc($page-width-mobile - $page-padding-mobile * 2) auto;
  }

  @media (min-width: $page-width-tablet) {
    grid-template-rows: minmax(162px, auto) minmax(68px, auto) minmax(580px, auto);
    align-items: start;
    padding-top: 31px;
    padding-left: calc($page-padding-tablet + 87px);
    padding-right: $page-padding-tablet;
    background-image: url("../img/index-can-tablet.png");
    background-position: bottom center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.png");
      background-size: calc($page-width-tablet - $page-padding-tablet * 2)  auto;
    }
  }

  @media (min-width: $page-width-desktop) {
    grid-template-rows: minmax(120px, auto) minmax(32px, auto) minmax(239px, auto);
    row-gap: 40px;
    min-height: 694px;
    margin-bottom: 82px;
    padding-top: 223px;
    padding-left: calc($page-padding-desktop + 80px);
    padding-right: $page-padding-desktop;
    background-image: url("../img/index-can-desktop.png");
    background-position: right 329px top 140px;
    background-size: 552px 500px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-can-desktop@2x.png");
    }
  }
}

.page-title__caption {
  margin: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 31px;
  color: $black;

  @media (min-width: $page-width-tablet) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  &--program {
    @media (min-width: $page-width-tablet) {
      padding-left: 40px;
    }

    @media (min-width: $page-width-desktop) {
      padding-left: 0;
    }
  }
}

.page-title--index .page-title__caption {
  line-height: 36px;
  text-align: center;
  color: $white;

  @media (min-width: $page-width-tablet) {
    max-width: 450px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $black;
  }
}

.page-title__slogan {
  justify-self: center;
  margin: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $page-width-tablet) {
    justify-self: start;
    max-width: 450px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $page-width-desktop) {
    margin-left: 0;
  }
}

.page-title__select-program-link {
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  @media (min-width: $page-width-tablet) {
    justify-self: start;
    margin-left: 4px;
    font-size: 20px;
    line-height: 33px;
  }

  @media (min-width: $page-width-desktop) {
    margin-left: 0;
  }
}
