.product {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas:
    "picture title"
    "picture table"
    "button  button";
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $page-width-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 226px repeat(2, min-content);
    grid-template-areas:
      "picture"
      "title"
      "table"
      "button";
    max-width: 324px;
    padding: 40px 38px 38px;
    background: linear-gradient(0deg, $basic-grey 0%, $basic-grey 78%, $white 78%, $white 100%);
  }

  @media (min-width: $page-width-desktop) {
    max-width: 245px;
    padding: 30px 39px 39px;
  }

  &:first-of-type {
    .product__image {
      margin-bottom: 4px;

      @media (min-width: $page-width-tablet) {
        margin-bottom: -11px;
      }
    }

    @media (max-width: $mobile-width-only) {
      border-top: 1px solid #ebebeb;
    }
  }

  &:nth-of-type(3) {
    .product__image {
      margin-bottom: -6px;

      @media (min-width: $page-width-tablet) {
        margin-bottom: -11px;
      }
    }
  }

  &:nth-of-type(5) {
    .product__image {
      margin-bottom: -9px;

      @media (min-width: $page-width-tablet) {
        margin-bottom: -11px;
      }
    }
  }

  &:nth-of-type(7) {
    .product__image {
      margin-bottom: -5px;

      @media (min-width: $page-width-tablet) {
        margin-bottom: -10px;
      }
    }
  }
}


.product__name {
  grid-area: title;

  max-width: 70%;
  margin: 0;
  margin-bottom: 14px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $page-width-tablet) {
    justify-self: center;
    max-width: 60%;
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $page-width-desktop) {
    max-width: 85%;
    margin-top: 26px;
    margin-bottom: 17px;
    padding-left: 10px;
    line-height: 22px;
  }
}

.product__image {
  grid-area: picture;
  justify-self: center;
  align-self: center;

  @media (min-width: $page-width-tablet) {
    width: auto;
  }
}

.product__options {
  grid-area: table;

  display: grid;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 35px;
  }

  @media (min-width: $page-width-desktop) {
    margin-bottom: 33px;
  }
}

.product__record {
  display: flex;
  justify-content: space-between;

  @media (min-width: $page-width-tablet) {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid $special-grey;
  }
}

.product__description,
.product__value {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $page-width-tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $page-width-desktop) {
    line-height: 17px;
  }
}

.product__order-link {
  grid-area: button;
  text-align: center;
}
