.related-product {
  display: grid;
  grid-template-areas:
    "title  title"
    "volume price"
    "button button";
  padding: 10px 20px 20px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $page-width-tablet) {
    grid-template-areas:
      "title  volume price"
      "button button button";
  }

  @media (min-width: $page-width-desktop) {
    grid-template-areas: "title volume price button";
  }

  &:first-of-type {
    border-top: 1px solid #cdcdcd;
  }
}


.related-product__name {
  grid-area: title;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.related-product__volume,
.related-product__price {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

.related-product__volume {
  grid-area: volume;
}

.related-product__price {
  grid-area: price;
}

.related-product__order-link {
  grid-area: button;
}
