.show-more {
  border-bottom: 1px solid #ebebeb;
  padding: 20px;

  @media (min-width: $page-width-tablet) {
    display: grid;
    grid-template-rows: 1fr 123px min-content;
    margin-top: 122px;
    padding: 36px;
    border: 2px solid $basic-grey;
  }

  @media (min-width: $page-width-desktop) {
    grid-template-rows: 1fr 120px min-content;
    padding-bottom: 40px;
  }
}

.show-more__name {
  margin-top: 0;
  margin-bottom: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: $almost-black;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px auto 22px;
    background-image: url("../img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $page-width-tablet) {
      width: 60px;
      height: 60px;
      margin-top: 14px;
      margin-bottom: 49px;
      background-image: url("../img/plus-tablet.svg");
    }

    @media (min-width: $page-width-desktop) {
      margin-top: 11px;
    }
  }

  @media (min-width: $page-width-tablet) {
    margin: 0;
    padding: 0 50px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $page-width-desktop) {
    padding: 0;
  }
}

.show-more__text {
  margin-top: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  text-align: center;

  @media (min-width: $page-width-tablet) {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $page-width-desktop) {
    margin-top: -2px;
    padding: 0;
  }
}

.show-more__button {
  width: 100%;
  margin-bottom: 4px;

  @media (min-width: $page-width-tablet) {
    margin-bottom: 0;
  }
}
