.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 130px;
  margin: 0 auto;
  padding: 20px 0;
  list-style-type: none;

  @media (min-width: $page-width-tablet) {
    padding: 0;
  }
}

.socials__item {
  display: flex;
  align-items: center;
}

.socials__link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    width: 23px;
    height: 16px;

    & svg {
      fill: $special-grey-2-1;
    }

    &:hover svg {
      fill: $basic-green;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;

    & svg {
      fill: $special-grey-2-1;
    }

    &:hover svg {
      fill: $basic-green;
    }
  }

  &--facebook {
    width: 22px;
    height: 22px;

    & svg {
      stroke: $special-grey-2-1;
    }

    &:hover svg {
      stroke: $basic-green;
    }
  }

  &:active svg {
    opacity: 0.3;
  }
}
