.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #d9d9d9;
}

.socials__link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--vk {
  width: 23px;
  height: 16px;
  background-image: url("../../img/vk.svg");
}

.socials__link--instagram {
  width: 16px;
  height: 16px;
  background-image: url("../../img/ig.svg");
}

.socials__link--facebook {
  width: 22px;
  height: 22px;
  background-image: url("../../img/fb.svg");
}
