.socials {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $page-width-tablet) {
    padding: 0;
    border: none;
  }
}

.socials__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 130px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  display: flex;
  align-items: center;
}

.socials__link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--vk {
  width: 23px;
  height: 16px;
  background-image: url("../../img/vk.svg");
}

.socials__link--instagram {
  width: 16px;
  height: 16px;
  background-image: url("../../img/ig.svg");
}

.socials__link--facebook {
  width: 22px;
  height: 22px;
  background-image: url("../../img/fb.svg");
}
